<h3>{{ code.subject }}</h3>
<p>
    Hello {{ name }}!
</p>
<p>
    {{ code.content }}
    {{ code.url }}
</p><p>

    --LTI Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('web_logo.png')) }}">

<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>