<div id="form-data" class="form form-wrap" style="">
    {{ form_start(form,{'attr':{'id':'newForm'}}) }}
    <h2>Basic Details</h2>

    <div style="height:140px">
        <div class="column">
            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.title, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>

            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.subLine, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>



        </div>
        <div class="column">
            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.tagline, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>

            <div class="form-row">
                <div class="form-widget">
                    <label for="app_bundle_service_form_tagline" class="required">Banner</label>
                    {{ form_row(form.imageFile, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>
        </div>
    </div>
    <div>
        <h2>Content</h2>
        <div class="form-row">
            <div class="form-widget">
                {{ form_row(form.content, { 'attr': {'id': 'login_form_credentials_username','class':'tinymce'} }) }}
            </div>
            <div class="form-errors"></div>
        </div>
    </div>
    <div>
        <div class="">
            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.footer, { 'attr': {'id': 'login_form_credentials_username','class':'tinymce'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>

        </div>
    </div>
    <div class="button-row">
        <input id="login_form__submit" type="submit" value="Save and Close">
        <input id="new" type="submit" value="Save and New">

        <a href="{{ path('new-models') }}" id="restore">
            Cancel </a>
    </div>
    {{ form_end(form) }}
</div>
