<html lang="en" data-ng-app="app"
      class="wf-futurapt-n5-active wf-futurapt-n7-active wf-futurapt-n4-active wf-futurapt-n3-active wf-active ng-scope">
<head id="Head1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       {% block title %} {% endblock %} Sterling Capital - Investments, savings, insurance, asset management &amp; retirement products
    </title>

    <link href="{{ asset('templates/sterling/global/sterling.css') }}"
          type="text/css" rel="stylesheet">
    <link href="//customer.cludo.com/css/328/1864/cludo-search-new.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ asset('templates/sterling/global/layoutbasics.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/bootstrap.min.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/chosen.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/custom.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/jquery.nouislider.min.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/pension-calculator.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/typeface.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/slider.css') }}"
          type="text/css" rel="stylesheet">

    <link href="{{ asset('templates/sterling/global/RadEditorStyles.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/calc.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/social.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/mobile.css') }}"
          type="text/css" rel="stylesheet">

</head>
<body style="">
<!-- Header Markup -->
<header>
    <div class="vignette body-gradient"></div>


    <!-- Navigation Markup -->
    <div class="nav-section clearfix">
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <ul class="visible-xs">
                        <li class="icon-sprites menu navbar-toggle" id="menu-icon-mobile"></li>
                        <li class="navbar-toggle">
                            <button id="closs" type="button" class="btn-sm btn comm-login">LOGIN</button>
                        </li>
                    </ul>
                    <a class="logo" href="/" id="omcozalogo">
                        <img height="77px"
                             src="{{ asset('logo.png') }}">
                        <span class="down-arrow"
                              style="background-image: url(&quot;/templates/sterling/images/table-data-arrow-down.png&quot;);"></span>
                    </a>
                </div>
                <div class="navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav custom-nav hide-mobile" id="menu-section-mobile">
                        <li class="has-sub-nav {% if home is defined %}{{ home }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li class="has-sub-nav {% if servicex is defined %}{{ servicex }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="{{ path('services') }}">Services</a>
                        </li>
                        <li class="has-sub-nav {% if contactsx is defined %}{{ contactsx }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_6" href="contact">Contacts</a>
                        </li>
                    </ul>
                    <div id="cphNavigation_T84CFA523002_nav_serarch">
                        <ul class="nav navbar-nav navbar-right header-search" id="nav-search">
                            <li>
                                <div class="form-group" id="cludo-search-form" role="search">
                                    <div id="cludo-search-box" class="input-group">
                                        <label for="cludo-search-form-input">Type search term to search the
                                            site</label>
                                        <input name="searchrequest" id="cludo-search-form-input"
                                               class="cludo-input-txt" type="search" placeholder="Search" value=""
                                               title="Type search term" autocomplete="off" aria-autocomplete="list"
                                               aria-haspopup="true">
                                        <a id="cludoSearchBtn" title="Search"><i class="fa fa-search"
                                                                                 aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>


    </div>
    <!-- Navigation Markup Ends -->
</header>
<!-- Header Markup Ends -->
<div class="mobile-clear">&nbsp;</div>
<div class="loginRegister rightside mobile-only">
    <span class="rtsTxt">Trade in real time</span>
    <i class="sprite-headline_gradient_navy"></i>
    <div class="blueBg">
        <p>Buy/Sell Shares online:</p>
        <div class="internetBanking actionBar searchBg">
            <div class="searchOutline">
                <div>
                    <ul class="myMenu">
                        <li class="select" style="display: list-item;"><a
                                    href="https://onlinetrading.nse.co.ke/TradeWeb105/">iSterling</a>
                        </li>
                    </ul>
                    <i class="sprite-select-arrow"></i>
                </div>

                <div class="searchGoBtn">
                    <a id="goAnchor" href="https://onlinetrading.nse.co.ke/TradeWeb105/"
                       target="_blank">
                        <input type="button" value="&nbsp;" id="goButton" class="go" name="button"
                               onclick="goToPlatform('ul#dtmQuickLinkOnlinePlatform');">
                        <i class="sprite-icon_arrow_white"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Banner Markup -->
<div class="banner-bg mobile-hide">
    {% block banner %}
    <div class="banner">

        <div id="static-banner">
        </div>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
            </ol>

            <div class="carousel-inner" id="dynamic-carousal">
                <div class="item active"
                     style="background-image:url({{ asset('images/chain.png') }})">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-green"><h1><span>ASSET MANAGEMENT</span></h1>
                                <div class="content"><p>Unit trust Funds AGM 11h30, 29 June 2018</p> <a
                                            class="btn btn-md green-theme-button"
                                            href="http://www.oldmutual.co.ke/news/agm-notice">READ MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                     style="background-image:url(http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/20170706-kenya-headofficerelocation_banner_desktop.jpg?sfvrsn=4)">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-green"><h1><span>We have moved</span></h1>
                                <div class="content"><p>Our Head Office has moved to the UAP Old Mutual Tower <br>located
                                        along Upper Hill road, Nairobi</p> <a class="btn btn-md green-theme-button"
                                                                              href="http://www.oldmutual.co.ke/contact">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bubble-height"
                     style="background-image:url(http://www.oldmutual.co.ke/images/librariesprovider8/banner/personal-solutions/desktop/family_savings_desktop.jpg?sfvrsn=0)">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-heading">
                                <div class=" bubble-align">
                                    <div class="banner-bubble-cover">
                                        <div class="banner-bubble">
                                            <div class="text">How do I save for my lifetime plans?</div>
                                        </div>
                                    </div>
                                    <h2>A lot happens in a few years, <br> <span>prepare for it today</span></h2> <a
                                            href="[7e41b34c-0365-6002-bb9d-ff0000361e55]2783c14c-0365-6002-bb9d-ff0600361e55"
                                            class="btn btn-md green-theme-button">READ MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bubble-height"
                     style="background-image:url(http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_educationplan_landingpage_quecamp_desktop_carousel.jpg?sfvrsn=2)">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-heading">
                                <div class=" bubble-align">
                                    <div class="banner-bubble-cover">
                                        <div class="banner-bubble">
                                            <div class="text">How do I save for my child's
                                                secondary and university education?
                                            </div>
                                        </div>
                                    </div>
                                    <h2>TALK TO US ABOUT <span>EDUCATION PLANS</span></h2> <a
                                            href="[7e41b34c-0365-6002-bb9d-ff0000361e55]fbbab64c-0365-6002-bb9d-ff0300361e55"
                                            class="btn btn-md green-theme-button">VIEW</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bubble-height"
                     style="background-image:url(http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_investmentandsavings_landingpage_quecamp_desktop_carousel.jpg?sfvrsn=2)">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-heading">
                                <div class=" bubble-align">
                                    <div class="banner-bubble-cover">
                                        <div class="banner-bubble">
                                            <div class="text">How do I grow my <br>
                                                savings?
                                            </div>
                                        </div>
                                    </div>
                                    <h2>TALK TO US ABOUT <span>SAVING, INVESTING<br>
AND GROWING YOUR MONEY</span></h2> <a href="[7e41b34c-0365-6002-bb9d-ff0000361e55]39b9b64c-0365-6002-bb9d-ff0300361e55"
                                      class="btn btn-md green-theme-button">VIEW</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div>
            <!-- 2014.2.724.40 -->

            <ul id="carousal-content" class="hide">

                <li class="banner-desktop"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/media/desktop/news_agmnotice_desktop.jpg?sfvrsn=2"
                    data-guid="270dc44c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-tablet"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/media/tablet/news_agmnotice_tablet.jpg?sfvrsn=2"
                    data-guid="270dc44c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-mobile"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/media/mobile/news_agmnotice_mobile.jpg?sfvrsn=2"
                    data-guid="270dc44c-0365-6002-bb9d-ff0600361e55">

                </li>

                <li class="banner-desktop"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/20170706-kenya-headofficerelocation_banner_desktop.jpg?sfvrsn=4"
                    data-guid="d362cb4c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-tablet"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/20170706-kenya-headofficerelocation_banner_tablet.jpg?sfvrsn=4"
                    data-guid="d362cb4c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-mobile"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/20170706-kenya-headofficerelocation_banner_mobile.jpg?sfvrsn=4"
                    data-guid="d362cb4c-0365-6002-bb9d-ff0600361e55">

                </li>

                <li class="banner-desktop"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/personal-solutions/desktop/family_savings_desktop.jpg?sfvrsn=0"
                    data-guid="f129c64c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-tablet"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/personal-solutions/tablet/family_savings_tablet.jpg?sfvrsn=0"
                    data-guid="f129c64c-0365-6002-bb9d-ff0600361e55">

                </li>
                <li class="banner-mobile"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/personal-solutions/mobile/family_savings_mobile.jpg?sfvrsn=0"
                    data-guid="f129c64c-0365-6002-bb9d-ff0600361e55">

                </li>

                <li class="banner-desktop"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_educationplan_landingpage_quecamp_desktop_carousel.jpg?sfvrsn=2"
                    data-guid="1627b74c-0365-6002-bb9d-ff0300361e55">

                </li>
                <li class="banner-tablet"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_educationplan_landingpage_quecamp_tablet_carousel.jpg?sfvrsn=2"
                    data-guid="1627b74c-0365-6002-bb9d-ff0300361e55">

                </li>
                <li class="banner-mobile"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/mobile_generic_for_bubble_images.jpg?sfvrsn=2"
                    data-guid="1627b74c-0365-6002-bb9d-ff0300361e55">

                </li>

                <li class="banner-desktop"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_investmentandsavings_landingpage_quecamp_desktop_carousel.jpg?sfvrsn=2"
                    data-guid="fe26b74c-0365-6002-bb9d-ff0300361e55">

                </li>
                <li class="banner-tablet"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/home/personalsolutions_investmentandsavings_landingpage_quecamp_tablet_carousel.jpg?sfvrsn=2"
                    data-guid="fe26b74c-0365-6002-bb9d-ff0300361e55">

                </li>
                <li class="banner-mobile"
                    id="http://www.oldmutual.co.ke/images/librariesprovider8/banner/mobile_generic_for_bubble_images.jpg?sfvrsn=2"
                    data-guid="fe26b74c-0365-6002-bb9d-ff0300361e55">

                </li>

            </ul>

            <input id="ctl00_cphBanner_ctl00_ctl00_ctl00_dynamicContentListView_ClientState"
                   name="ctl00_cphBanner_ctl00_ctl00_ctl00_dynamicContentListView_ClientState" type="hidden"
                   autocomplete="off"><span id="ctl00_cphBanner_ctl00_ctl00_ctl00_dynamicContentListView"
                                            style="display:none;"></span>

        </div>
    </div>
    {% endblock %}
</div>

<!-- Banner Markup Ends -->
<!-- Main content markup -->
<div class="banner-margin-inner">
    <div class="container">
        <!-- Bread crumb -->
        <div class="bread-crumb-control">

            <div id="cphBreadCrumb_T84CFA523010">

                <div class="bread-crumb">
                    <div>
                        <a class="icon-sprites bread-crumb-arrow" href="#"></a>
                    </div>
                    <div class="sfBreadcrumbWrp clearfix">
                            <span id="cphBreadCrumb_T84CFA523010_ctl00_ctl00_BreadcrumbLabel" class="sfBreadcrumbLabel"
                                  style="display:none;"></span>
                        <div id="ctl00_cphBreadCrumb_T84CFA523010_ctl00_ctl00_Breadcrumb"
                             class="RadSiteMap RadSiteMap_Default">
                            <ul class="rsmFlow rsmLevel rsmOneLevel">
                             {% block breadcrumb %}
                             {% endblock %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bread crumb -->


        <!-- Left column -->
        <div class="col-lg-9 home-left-panel">

        {% block body %}
        {% endblock %}
        </div>
        <!-- Left column -->

        <!-- Right column -->
        <div class="col-lg-3 col-xs-12" id="tabbed-alignment">

            <div class="loginRegister rightside">
                <span class="rtsTxt">Trade in real time</span>
                <i class="sprite-headline_gradient_navy"></i>
                <div class="blueBg">
                    <p>Buy/Sell Shares online:</p>
                    <div class="internetBanking actionBar searchBg">
                        <div class="searchOutline">
                            <div>
                                <ul class="myMenu">
                                    <li class="select" style="display: list-item;"><a
                                                href="https://www.csfs.co.ke/activelite/login.aspx">iSterling</a>
                                    </li>
                                </ul>
                                <i class="sprite-select-arrow"></i>
                            </div>

                            <div class="searchGoBtn">
                                <a id="goAnchor" href="https://www.csfs.co.ke/activelite/login.aspx"
                                   target="_blank">
                                    <input type="button" value="&nbsp;" id="goButton" class="go" name="button"
                                           onclick="goToPlatform('ul#dtmQuickLinkOnlinePlatform');">
                                    <i class="sprite-icon_arrow_white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 quicklinksbox rightside">
                <h4><span class="pointericon"></span> Subscribe to our Newsletters</h4>
                <ul>
                    <li>
                        <a href="/SBGSecurities/About-Us/Contact-us"><i class="fa fa-newspaper-o"></i>&nbsp;
                            All
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cfcstanbicbank.co.ke"><i class="fa fa-bank"></i>&nbsp;
                            Banking Stocks
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-phone"></i>&nbsp;
                            Telecom Stocks
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-money"></i>&nbsp;
                            Fixed Income
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-building-o"></i>&nbsp;
                            Real Estate
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-sticky-note-o"></i>&nbsp;
                            Morning Note
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-info-circle"></i>&nbsp;
                            Daily Market Wrap
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.heritageinsurance.co.ke/"><i class="fa fa-info-circle"></i>&nbsp;
                            Weekly Market Wrap
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- Right column -->

    </div>
</div>
<!-- Main content markup Ends -->
<!-- Footer Markup -->
<footer>
    <div class="footer-gradient">
        <img class="max-width" src="/templates/sterling/images/footer.png"
             alt="">
    </div>
    <div id="footerNavBar" class="row">
        <div class="container">
            <div class="topNav">
                <ul class="mainMenu">
                    <li><a href="/contact">About Us</a></li>
                    <li><a href="/about-us/disclaimer">Location</a></li>
                    <li><a href="/about-us/disclaimer">Blog</a></li>
                    <li><a href="/v5/forms/rating.aspx?RatingID=3">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="container">
            <div class="footerContentBar">


                <div class="span3">


                    <h3>Join us</h3>
                    <p>Become part of the @ Sterling community.</p>

                    <div class="socialIconset">
                        <a style="margin-left: 30px" target="_blank"
                           href="http://www.facebook.com/pages/Standard-Bank-Angola/134204553315455?ref=tn_tnmn"><span
                                    class="faceBookIcon">&nbsp;</span> </a>
                        <a target="_blank" href="http://www.blog.standardbank.com"><span
                                    class="blogIcon">&nbsp;</span> </a>
                        <a target="_blank" href="http://twitter.com/sbgroup"><span
                                    class="twitterIcon">&nbsp;</span> </a>
                        <a target="_blank" href="http://www.youtube.com/user/StandardBankGroup"><span
                                    class="uTubeIcon">&nbsp;</span></a>
                    </div>

                    <p>&nbsp;</p>
                </div>


                <div class="span3">


                    <h3>Careers @ Sterling Capital</h3>

                    <p>Join our international team and you could move your career forward from the start.</p>

                    <p>
                        <a onclick="s_objectID=&quot;http://careers.standardbank.com/standimg/Careers/index.html_1&quot;;return this.s_oc?this.s_oc(e):true"
                           class="arrowLink" href="http://careers.standardbank.com/standimg/Careers/index.html">View
                            opportunities</a></p>
                </div>


                <div class="span3">


                    <h3>Who we are @ Sterling Capital</h3>

                    <p>Join our international team and you could move your career forward from the start.</p>

                    <p>
                        <a onclick="s_objectID=&quot;http://careers.standardbank.com/standimg/Careers/index.html_1&quot;;return this.s_oc?this.s_oc(e):true"
                           class="arrowLink" href="http://careers.standardbank.com/standimg/Careers/index.html">Read
                            more</a></p>
                </div>


            </div>
        </div>
    </footer>
    <div class="container">
        <div class="footer" id="footer">

            <p class="disclaimer">Copyright © {{ "now" | date('Y') }} Sterling Capital Ltd<br>Head Office: 11th Floor,
                Barclays Plaza,
                Loita Street, Nairobi. </p>
            <p class="disclaimer">Sterling Capital Ltd is a Licensed member of the Nairobi Securities Exchange.</p>

        </div>
    </div>
</footer>
<!-- Footer Markup Ends -->

<div class="mobile-menu-overlay hide"></div>

<!-- script bundles -->
<script src="{{ asset('templates/sterling/assets/static/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('templates/sterling/js/main.bundle.js') }}"></script>
<script src="{{ asset('templates/sterling/js/nav.js') }}"></script>


</body>
</html>