<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://voice.dts.edu/wp-content/themes/dts-voice/assets/css/images/dts-flame-round.png" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/wp-content/themes/dts-media/assets/js/modernizr-custom.js"></script>
    <script src="/wp-content/themes/dts-media/assets/js/scripts.js"></script>

    <!-- podcast links -->
    <link rel="alternate" type="application/rss+xml" title="Table Podcast" href="https://voice.dts.edu/feed/tablepodcast/" />
    <link rel="alternate" type="application/rss+xml" title="Chapel Podcast" href="https://voice.dts.edu/feed/chapel/" />
    <link rel="alternate" type="application/rss+xml" title="Magazine RSS Feed" href="https://voice.dts.edu/feed/magazine/" />

    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">
    <link href="https://voice.dts.edu/wp-content/themes/dts-voice/assets/css/compiled/dtsmedia.css" rel="stylesheet">
    <style>
        .voice-header-magazine{
            background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/Voice_Magazine_background.jpg);
        }.voice-header-chapel{
             background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-chapel.jpg);
         }.voice-header-reviews{
              background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-reviews.jpg);
          }.voice-header-courses{
               background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-courses.jpg);
           }.voice-header-contributors{
                background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-contributors.jpg);
            }.voice-header-topics{
                 background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-topics.jpg);
             }.voice-header-scripture{
                  background-image: url(https://voice.dts.edu/wp-content/uploads/sites/11/2017/12/voice-header-scripture.jpg);
              }	</style>


    <script>var et_site_url='https://voice.dts.edu';var et_post_id='global';function et_core_page_resource_fallback(a,b){"undefined"===typeof b&&(b=a.sheet.cssRules&&0===a.sheet.cssRules.length);b&&(a.onerror=null,a.onload=null,a.href?a.href=et_site_url+"/?et_core_page_resource="+a.id+et_post_id:a.src&&(a.src=et_site_url+"/?et_core_page_resource="+a.id+et_post_id))}
    </script><title>{% block title %}Magazine Articles Archive - DTS Voice{% endblock %}</title>

    <!-- This site is optimized with the Yoast SEO plugin v6.1.1 - https://yoa.st/1yg?utm_content=6.1.1 -->
    <link rel="canonical" href="https://voice.dts.edu/article/" />
    <link rel="next" href="https://voice.dts.edu/article/page/2/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Magazine Articles Archive - DTS Voice" />
    <meta property="og:url" content="https://voice.dts.edu/article/" />
    <meta property="og:site_name" content="DTS Voice" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Magazine Articles Archive - DTS Voice" />
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/voice.dts.edu\/","name":"DTS Voice","potentialAction":{"@type":"SearchAction","target":"https:\/\/voice.dts.edu\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/voice.dts.edu\/article\/","sameAs":[],"@id":"#organization","name":"Dallas Theological Seminary","logo":""}</script>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="DTS Voice &raquo; Magazine Articles Feed" href="https://voice.dts.edu/article/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/voice.dts.edu\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='taxonomy-image-plugin-public-css'  href='https://voice.dts.edu/wp-content/plugins/taxonomy-images/css/style.css?ver=0.9.6' type='text/css' media='screen' />
    <link rel='stylesheet' id='et-gf-open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css' media='all' />
    <link rel='stylesheet' id='et_monarch-css-css'  href='https://voice.dts.edu/wp-content/plugins/monarch/css/style.css?ver=1.3.25' type='text/css' media='all' />
    <link rel='stylesheet' id='et_bloom-css-css'  href='https://voice.dts.edu/wp-content/plugins/bloom/css/style.css?ver=1.2.22' type='text/css' media='all' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <script type='text/javascript' src='https://voice.dts.edu/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://voice.dts.edu/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://voice.dts.edu/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.5" />
    <style type="text/css" id="et-social-custom-css">
        a {
            color: #43165e;
        }
    </style>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64595-21', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        jQuery( document ).ready(function() {
            jQuery('.datepicker').datepicker();
        });
    </script>
    <!-- End Google Analytics -->

</head>
<body class="archive post-type-archive post-type-archive-magazinearticle et_bloom et_monarch elementor-default">

<script type="text/javascript">
    jQuery(function($){
        $( '.menu-btn' ).click(function(){
            $('.responsive-menu-container').toggleClass('expand-hamburger');
        });
        $( window ).resize(function() {
            if(window.innerWidth >= 1100){
                $('.responsive-menu-container').removeClass('expand-hamburger');
            }
        });
    });
</script>
<div id="site-container">
    <header id="site-header">
        <div id="site-header-inner">
            <a id="site-home-link" href="/">
				<span id="s">
					<img style="height:80px;position: absolute;margin-top:-40px " src="{{ asset('web_logo.png') }}" alt="" />
				</span>
            </a>
            <div class="mobile-nav">
                <div class="menu-btn" id="menu-btn">
                    <div></div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <nav id="site-menu">

                <a href="{{ path('homepage') }}">Home</a>
                <a href="{{ path('about') }}">About LTI</a>
                <a href="{{ path('lti-center') }}">LTI Center</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('my-lti') }}">My LTI</a>

                {% else %}
                    <a href="{{ path('lti-my') }}">My LTI</a>

                {% endif %}
                        <a class="highlight" href="{{ path('donate') }}">Donate</a>

                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('security_logout') }}">Logout</a>

                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('dashboard') }}">Admin</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="responsive-menu-container">
        <nav class="responsive-menu">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{{ path('homepage') }}">About</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('lti-center') }}">LTI Center</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('lti-my') }}">My LTI</a>
                </li>
                <li class="nav-item">
                    <a href="media/default.htm">Media</a>
                </li>
                <li class="nav-item">
                    <a href="media/default.htm">Donate</a>
                </li>

            </ul>
        </nav>
    </div>
    <div id="site-content">



        <div class="voice-header voice-header-large voice-header-magazine">

            <div class="grid-container">
                <div class="row">
                    <div class="column-full">
                        <h1>{% block pageTitle %}DTS Magazine{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-container">
            {% block body %}
            {% endblock %}
            </div>


        </div><!-- /.grid-container -->

        <script>
            var refTagger = {
                settings: {
                    bibleVersion: "NIV",
                    libronixBibleVersion: "DEFAULT",
                    addLogosLink: false,
                    appendIconToLibLinks: true,
                    libronixLinkIcon: "dark",
                    noSearchClassNames: [],
                    useTooltip: true,
                    noSearchTagNames: ["h1", "h2", "h3"],
                    linksOpenNewWindow: true,
                    convertHyperlinks: false,
                    caseInsensitive: true,
                    tagChapters: true
                }
            };

            (function(d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = '//api.reftagger.com/v2/reftagger.js';
                s.parentNode.insertBefore(g, s);
            }(document, 'script'));
        </script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.3.25'></script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-content/plugins/bloom/js/jquery.uniform.min.js?ver=1.2.22'></script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-content/plugins/bloom/js/custom.js?ver=1.2.22'></script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-content/plugins/bloom/js/idle-timer.min.js?ver=1.2.22'></script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-content/plugins/monarch/core/admin/js/common.js?ver=3.0.101'></script>
        <script type='text/javascript' src='https://voice.dts.edu/wp-includes/js/wp-embed.min.js?ver=4.9.5'></script>
    </div><!-- #content -->
    <footer id="site-footer">
        <div class="grid-container">
            <div class="row">
                <div class="column-third footer-column">
                    <p class="footer-text">
                        <strong>Life Touch Impact</strong> offers biblically-centered articles, stories, discussions and points of view
                        designed to encourage and equip the youth in the church for gospel transformation.
                    </p>
                </div>
                <div class="column-third footer-column">
                    <div class="social-links">
                        <a class="social-link facebook socicon-facebook" href="http://facebook.com/lifetouchimpact"><!--Facebook--></a>
                        <a class="social-link twitter socicon-twitter" href="http://twitter.com/lifetouchimpact"><!--Twitter--></a>
                        <a class="social-link youtube socicon-youtube" href="http://youtube.com/lifetouchimpact"><!--YouTube--></a>
                        <a class="social-link instagram socicon-instagram" href="http://instagram.com/lifetouchimpact/"><!--Instagram--></a>
                    </div>
                </div>
                <div class="column-third footer-column email-signup">
                    <!--<div class="email-form-container">
                        <h4>Sign up for DTS voice updates</h4>
                        <div class="et_bloom_inline_form et_bloom_optin et_bloom_make_form_visible et_bloom_optin_3" style="display: none;">
                            <style type="text/css">.et_bloom .et_bloom_optin_3 .et_bloom_form_content { background-color: #f2efef !important; } .et_bloom .et_bloom_optin_3 .et_bloom_form_container .et_bloom_form_header { background-color: #f2efef !important; } .et_bloom .et_bloom_optin_3 .et_bloom_form_content button { background-color: #43165e !important; } .et_bloom .et_bloom_optin_3 .et_bloom_form_content button { background-color: #43165e !important; } .et_bloom .et_bloom_optin_3 .et_bloom_form_container h2, .et_bloom .et_bloom_optin_3 .et_bloom_form_container h2 span, .et_bloom .et_bloom_optin_3 .et_bloom_form_container h2 strong { font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif; }.et_bloom .et_bloom_optin_3 .et_bloom_form_container p, .et_bloom .et_bloom_optin_3 .et_bloom_form_container p span, .et_bloom .et_bloom_optin_3 .et_bloom_form_container p strong, .et_bloom .et_bloom_optin_3 .et_bloom_form_container form input, .et_bloom .et_bloom_optin_3 .et_bloom_form_container form button span { font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif; } .et_bloom_header_outer{ display: none; } .et_bloom .et_bloom_form_container .et_bloom_form_content{ padding: 0; } .et_bloom .et_bloom_inline_form{ margin: 0; }</style>
                            <div class="et_bloom_form_container  et_bloom_rounded et_bloom_form_text_dark et_bloom_form_bottom et_bloom_inline_1_field">

                                <div class="et_bloom_form_container_wrapper clearfix">
                                    <div class="et_bloom_header_outer">
                                        <div class="et_bloom_form_header et_bloom_header_text_dark">



                                        </div>
                                    </div>
                                    <div class="et_bloom_form_content et_bloom_1_field et_bloom_bottom_inline">


                                        <form method="post" class="clearfix">

                                            <p class="et_bloom_popup_input et_bloom_subscribe_email">
                                                <input placeholder="Email">
                                            </p>

                                            <button data-optin_id="optin_3" data-service="hubspot" data-list_id="1219" data-page_id="13287" data-account="1956353" data-disable_dbl_optin="" class="et_bloom_submit_subscription">
                                                <span class="et_bloom_subscribe_loader"></span>
                                                <span class="et_bloom_button_text et_bloom_button_text_color_light">Subscribe</span>
                                            </button>
                                        </form>
                                        <div class="et_bloom_success_container">
                                            <span class="et_bloom_success_checkmark"></span>
                                        </div>
                                        <h2 class="et_bloom_success_message">Thank you for subscribing to the voice.</h2>

                                    </div>
                                </div>
                                <span class="et_bloom_close_button"></span>
                            </div>
                        </div>					</div>-->
                </div>
            </div>
            <div class="row">
                <div class="column-full">
                    <div class="copyright">
                        Copyright {{ "now" | date('Y') }} <a href="#">Life Touch Impact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- #site-footer -->
</div><!-- /#site-container -->


<script>
    var contributorsImages = ['https://voice.dts.edu/wp-content/uploads/sites/11/2018/05/Bruce-Hebel-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2018/02/jamie-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2018/02/KM-profile-cropped-150x150.jpeg','https://voice.dts.edu/wp-content/uploads/sites/11/2017/09/medium_ken-nehrbass_faculty.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2017/07/Mark L. Bailey-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2017/06/Raquel P. Wroten portrait-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2018/05/Profile-Picture-SG-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2017/09/steve-garber-150x150.jpg','https://voice.dts.edu/wp-content/uploads/sites/11/2018/05/Toni-Hebel-150x150.jpg'],
        currentIndex = 0;
    //setInterval(changeContributor, 5000);

    function changeContributor() {
        var imgUrl = contributorsImages[currentIndex];
        //console.log('changing to', imgUrl);

        var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
        link.type = 'image/x-icon';
        link.rel = 'shortcut icon';
        link.href = imgUrl;
        document.getElementsByTagName('head')[0].appendChild(link);

        currentIndex++;
        if (currentIndex >= contributorsImages.length) {
            currentIndex = 0;
        }
    }
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
