<html lang="en" data-ng-app="app"
      class="wf-futurapt-n5-active wf-futurapt-n7-active wf-futurapt-n4-active wf-futurapt-n3-active wf-active ng-scope">
<head id="Head1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       {% block title %} Sterling Capital {% endblock %} - Investments, savings, insurance, asset management &amp; retirement products
    </title>
    <link rel="shortcut icon" href="{{ asset('templates/sterling/images/favicon.ico') }}" type="image" />
    <link href="{{ asset('templates/sterling/global/sterling.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/search-new.min.css') }} type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ asset('templates/sterling/global/layoutbasics.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/bootstrap.min.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/chosen.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/custom.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/jquery.nouislider.min.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/pension-calculator.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/typeface.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/slider.css') }}"
          type="text/css" rel="stylesheet">

    <link href="{{ asset('templates/sterling/global/RadEditorStyles.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/calc.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/social.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ asset('templates/sterling/global/mobile.css') }}"
          type="text/css" rel="stylesheet">

</head>
<body style="">
<!-- Header Markup -->
<header>
    <div class="vignette body-gradient"></div>


    <!-- Navigation Markup -->
    <div class="nav-section clearfix">
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <ul class="visible-xs">
                        <li class="icon-sprites menu navbar-toggle" id="menu-icon-mobile" onclick="CludoShowAdvancedFilters()"></li>
                    </ul>
                    <a class="logo" href="{{ path('homepage') }}" id="omcozalogo">
                        <img height="77px"
                             src="{{ asset('logo.png') }}">

                    </a>
                </div>
                <style>
                    .topnav {
                        overflow: hidden;
                        position: relative;
                        max-height: 60px !important;
                    }

                    .topnav a {
                        float: left;
                        display: block;
                        color: #155498;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                    }

                    .active {
                        background-color: #155498;
                        color: white;
                    }

                    .topnav .icon {
                        display: none;
                    }

                    .dropdown {
                        float: left;
                        overflow: hidden;
                    }

                    .dropdown .dropbtn {
                        font-size: 17px;
                        border: none;
                        outline: none;
                        color: #155498;
                        padding: 14px 36px;
                        background-color: inherit;
                        font-family: inherit;
                        margin: 0;
                    }

                    .dropdown-content {
                        display: none;
                        position: fixed;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 10000;
                    }

                    .dropdown-content a {
                        float: none;
                        color: #155498;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                    }

                    .topnav a:hover, .dropdown:hover .dropbtn,.dropdown.active .dropbtn {
                        background-color: #155498;
                        color: white;
                    }

                    .dropdown-content a:hover {
                        background-color: #ddd;
                        color: black;
                    }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    @media screen and (max-width: 600px) {
                        .topnav a:not(:first-child), .dropdown .dropbtn {
                            display: none;
                        }
                        .topnav a.icon {
                            float: right;
                            display: block;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        .topnav.responsive {position: relative;}
                        .topnav.responsive .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .topnav.responsive a {
                            float: none;
                            display: block;
                            text-align: left;
                        }
                        .topnav.responsive .dropdown {float: none;}
                        .topnav.responsive .dropdown-content {position: relative;}
                        .topnav.responsive .dropdown .dropbtn {
                            display: block;
                            width: 100%;
                            text-align: left;
                        }
                    }
                </style>
                <div class="navbar-collapse" id="navbar">
                    <div class="topnav" id="myTopnav" style="top:60px">
                        <div class="dropdown {% if servicex is defined %}active{% endif %}">
                            <button class="dropbtn">Services
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/services/asset-management">Asset Management</a>
                                <a href="/services/brokerage">Brokerage</a>
                                <a href="/services/fundraising-for-business">Fundraising for Business</a>
                                <a href="/services/loans-for-shares">Loans for Shares</a>
                                <a href="/services/research-and-advisory">Research & Advisory</a>
                                <a class="last" href="/services/stock-exchange-listing">Stock Exchange Listing</a>
                            </div>
                        </div>
                        <div class="dropdown {% if clientsx is defined %}active{% endif %}">
                            <button class="dropbtn">Clients
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/clients/high-income-individuals">High Income Individuals</a>
                                <a href="/clients/foreign-institutions">Foreign Institutions</a>
                                <a href="/clients/large-local-institutions">Large Local Institutions</a>
                                <a href="/clients/middle-income-individuals">Middle Income Individuals</a>
                                <a href="/clients/small-and-medium-enterprise">Small and Medium Enterprise</a>
                                <a href="/clients/high-networth-individuals">Wealthy Individuals</a>
                            </div>
                        </div>

                        <div class="dropdown {% if researchx is defined %}active{% endif %}">
                            <button class="dropbtn">Research
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                               <a href="#">Banking Stocks</a>
                               <a href="#">Daily Market Wrap</a>
                               <a href="#">Fixed Income</a>
                               <a href="#">Morning Note</a>
                               <a href="#">Real Estate</a>
                               <a href="#">Telecom Stocks</a>
                               <a href="#">Weekly Market Wrap</a>
                            </div>
                        </div>
                        <a href="{{ path('contactsPage') }}">Contact</a>
                    </div>



                    <ul class="nav navbar-nav custom-nav hide-mobile mobile-only" id="" style="display: none">
                       <!-- <li class="has-sub-nav {% if home is defined %}{{ home }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="{{ path('homepage') }}">Home</a>
                        </li> -->
                        <li class="has-sub-nav {% if servicex is defined %}{{ servicex }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="{{ path('services') }}">Services</a>

                            <ul class="sub-nav">
                                <li><a href="/services/asset-management">Asset Management</a></li>
                                <li><a href="/services/brokerage">Brokerage</a></li>
                                <li><a href="/services/fundraising-for-business">Fundraising for Business</a></li>
                                <li><a href="/services/loans-for-shares">Loans for Shares</a></li>
                                <li><a href="/services/research-and-advisory">Research & Advisory</a></li>
                                <li><a class="last" href="/services/stock-exchange-listing">Stock Exchange Listing</a></li>
                            </ul>
                        </li>

                        <li class="has-sub-nav {% if clientsx is defined %}{{ clientsx }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="#">Clients</a>

                            <ul class="sub-nav">
                                <li><a href="/clients/high-income-individuals">High Income Individuals</a></li>
                                <li><a href="/clients/foreign-institutions">Foreign Institutions</a></li>
                                <li><a href="/clients/large-local-institutions">Large Local Institutions</a></li>
                                <li><a href="/clients/middle-income-individuals">Middle Income Individuals</a></li>
                                <li><a href="/clients/small-and-medium-enterprise">Small and Medium Enterprise</a></li>
                                <li><a href="/clients/high-networth-individuals">Wealthy Individuals</a></li>

                            </ul>
                        </li>
                        <li class="has-sub-nav {% if researchx is defined %}{{ researchx }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_1" href="{{ path('view-page', {'slug': 'research'}) }}">Research</a>
                            <ul class="sub-nav">
                                <li><a href="#">Banking Stocks</a></li>
                                <li><a href="#">Daily Market Wrap</a></li>
                                <li><a href="#">Fixed Income</a></li>
                                <li><a href="#">Morning Note</a></li>
                                <li><a href="#">Real Estate</a></li>
                                <li><a href="#">Telecom Stocks</a></li>
                                <li><a href="#">Weekly Market Wrap</a></li>

                            </ul>

                        </li>
                        <li class="has-sub-nav {% if contactsx is defined %}{{ contactsx }}{% endif %}">
                            <a id="cphNavigation_T84CFA523002_rptTopNav_hypTopNav_6" href="{{ path('contactsPage') }}">Contacts</a>
                        </li>
                    </ul>



                    {% block search %}
                    <div id="cphNavigation_T84CFA523002_nav_serarch">
                        <ul class="nav navbar-nav navbar-right header-search" id="nav-search">
                            <li>
                                <div class="form-group" id="cludo-search-form" role="search">
                                    <div id="cludo-search-box" class="input-group">
                                        <input name="search-term" id="search-form-input"
                                               class="cludo-input-txt" type="search" placeholder="Search" value=""
                                               title="Type search term" autocomplete="off" aria-autocomplete="list"
                                               aria-haspopup="true">
                                        <a id="cludoSearchBtn" title="Search"><i class="fa fa-search"
                                                                                 aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endblock %}

                </div>
            </div>


        </div>


    </div>
    <!-- Navigation Markup Ends -->
</header>
<!-- Header Markup Ends -->
<div class="mobile-clear">&nbsp;</div>

<div class="loginRegister rightside mobile-only">
    <span class="rtsTxt">Trade in real time</span>
    <i class="sprite-headline_gradient_navy"></i>
    <div class="blueBg">
        <p>Buy/Sell Shares online:</p>
        <p><a href="" class="btn btn-md pull-center green-theme-button">Trade Now</a>
            <a href="" class="btn btn-md pull-center green-theme-button">Register</a>
        </p>
    </div>
</div>

<div class="loginRegister rightside mobile-only">
    <span class="rtsTxt">Loans for Shares</span>
    <i class="sprite-headline_gradient_navy"></i>
    <div class="blueBg">
        <p>Apply for a Loan</p>
        <p><a href="{{ path('loansPage') }}" class="btn btn-md pull-center green-theme-button">Apply Now</a></p>
    </div>
</div>

<!-- Banner Markup -->
<div class="banner-bg mobile-hide">
    {% block banner %}
    <div class="banner">

        <div id="static-banner">
        </div>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>

            <div class="carousel-inner" id="dynamic-carousal">
                <div class="item active"
                     style="background-image:url({{ asset('images/chain.png') }})">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-green"><h1><span>Sterling Capital</span></h1>
                                <div class="content"><p>The preferred brokers for equities and fixed income trading <br/>in the Nairobi Securities Exchange </p> <a
                                            class="btn btn-md green-theme-button"
                                            href="#">READ MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                     style="background-image:url({{ asset('images/slides/high-income.jpg') }})">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-green"><h1><span>High Income Individuals</span></h1>
                                <div class="content"><p>If you meet certain criteria with regards to wealth<br/> and/or investment experience</p> <a class="btn btn-md green-theme-button"
                                                                              href="#">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                     style="background-image:url({{ asset('images/slides/foreign-institutions.jpg') }})">
                    <div class="container">
                        <div class="container">
                            <div class="carousel-caption banner-text-green"><h1><span>Foreign Institutions</span></h1>
                                <div class="content"><p>if you meet certain criteria with regards to wealth <br/>and/or investment experience</p> <a class="btn btn-md green-theme-button"
                                                                              href="#">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div>
            <!-- 2014.2.724.40 -->

        </div>
    </div>
    {% endblock %}
</div>

<!-- Banner Markup Ends -->
{% block mobile %}{% endblock %}
<!-- Main content markup -->
<div class="banner-margin-inner">
    <div class="container">
        <!-- Bread crumb -->
        <div class="bread-crumb-control">

            <div id="cphBreadCrumb_T84CFA523010">

                <div class="bread-crumb">
                    <div>
                        <a class="icon-sprites bread-crumb-arrow" href="#"></a>
                    </div>
                    <div class="sfBreadcrumbWrp clearfix">
                            <span id="cphBreadCrumb_T84CFA523010_ctl00_ctl00_BreadcrumbLabel" class="sfBreadcrumbLabel"
                                  style="display:none;"></span>
                        <div id="ctl00_cphBreadCrumb_T84CFA523010_ctl00_ctl00_Breadcrumb"
                             class="RadSiteMap RadSiteMap_Default">
                            <ul class="rsmFlow rsmLevel rsmOneLevel">
                             {% block breadcrumb %}
                             {% endblock %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bread crumb -->


        <!-- Left column -->
        <div class="col-lg-9 home-left-panel">

        {% block body %}
        {% endblock %}
        </div>
        <!-- Left column -->

        <!-- Right column -->
        <div class="col-lg-3 col-xs-12" id="tabbed-alignment">

            <div class="loginRegister rightside">
                <span class="rtsTxt">Trade in real time</span>
                <i class="sprite-headline_gradient_navy"></i>
                <div class="blueBg">
                    <p>Buy/Sell Shares online:</p>
                    <p>
                        <a href="" class="btn btn-md pull-center green-theme-button">Trade Now</a>
                        <a href="" class="btn btn-md pull-center green-theme-button">Register</a>

                    </p>
                </div>
            </div>

            <div class="loginRegister rightside">
                <span class="rtsTxt">Loans for Shares</span>
                <i class="sprite-headline_gradient_navy"></i>
                <div class="blueBg">
                    <p>Apply for a Loan</p>
                    <p><a href="{{ path('loansPage') }}" class="btn btn-md pull-center green-theme-button">Apply Now</a></p>
                </div>
            </div>
            <div class="col-sm-12 quicklinksbox rightside">
                <h4><span class="pointericon"></span> Subscribe to our Newsletters</h4>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-newspaper-o"></i>&nbsp;
                            All
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sticky-note-o"></i>&nbsp;
                            Morning Note
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info-circle"></i>&nbsp;
                            Daily Market Wrap
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info-circle"></i>&nbsp;
                            Weekly Market Wrap
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-money"></i>&nbsp;
                            Fixed Income
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bank"></i>&nbsp;
                            Banking Stocks
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-phone"></i>&nbsp;
                            Telecom Stocks
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-building-o"></i>&nbsp;
                            Real Estate
                            <i class="sprite-icon_arrow_blue"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-12 quicklinksbox rightside">
                <iframe width="262" height="290" src="https://www.youtube.com/embed/videoseries?list=PL9UNNRRWQROTEpifKEB9n8dDo5mHY-i2j" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <!-- Right column -->

    </div>
</div>
<!-- Main content markup Ends -->
<!-- Footer Markup -->
<footer>
    <div class="footer-gradient">
       &nbsp;
    </div>
    <div id="footerNavBar" class="row">
        <div class="container">
            <div class="topNav">
                <ul class="mainMenu">
                    <li><a href="{{ path('view-page', {'slug': 'about-us'}) }}">About Us</a></li>
                    <li><a href="{{ path('view-page', {'slug': 'careers'}) }}">Careers</a></li>
                    <li><a href="{{ path('view-page', {'slug': 'contacts'}) }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
   <!-- <footer class="row">
        <div class="container">
            <div class="footerContentBar">


                <div class="span3">


                    <h3>Join us</h3>
                    <p>Become part of the @ Sterling community.</p>

                    <div class="socialIconset">
                        <a style="margin-left: 30px" target="_blank"
                           href="https://www.facebook.com/SterlingCapitalLtd/?ref=br_rs"><span
                                    class="faceBookIcon">&nbsp;</span> </a>
                        <a target="_blank" href="https://twitter.com/SterlingNairobi"><span
                                    class="twitterIcon">&nbsp;</span> </a>
                        <a target="_blank" href="https://ke.linkedin.com/in/sterling-capital-ltd-543b4a77"><span
                                    class="LinkedInIcon">&nbsp;</span></a>
                    </div>

                    <p>&nbsp;</p>
                </div>


                <div class="span3">


                    <h3>Careers @ Sterling Capital</h3>

                    <p>Join our international team and you could move your career forward from the start.</p>

                    <p>
                        <a  class="arrowLink" href="{{ path('view-page', {'slug': 'careers'}) }}">View
                            opportunities</a></p>
                </div>


                <div class="span3">


                    <h3>Who we are @ Sterling Capital</h3>

                    <p>Join our international team and you could move your career forward from the start.</p>

                    <p>
                        <a class="arrowLink" href="{{ path('view-page', {'slug': 'about-us'}) }}">Read
                            more</a></p>
                </div>


            </div>
        </div>
    </footer> -->
    <div class="container">
        <div class="footer" id="footer">

            <p class="disclaimer">Copyright © {{ "now" | date('Y') }} Sterling Capital Ltd<br>Head Office: 11th Floor,
                Barclays Plaza,
                Loita Street, Nairobi. </p>
            <p class="disclaimer">Sterling Capital Ltd is a member of the Nairobi Securities Exchange.</p>

        </div>
    </div>
</footer>
<!-- Footer Markup Ends -->

<div class="mobile-menu-overlay hide"></div>

<!-- script bundles -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('templates/sterling/js/main.bundle.js') }}"></script>
<script src="{{ asset('templates/sterling/js/nav.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $(".has-sub-nav").hover(function () {
            $(this).find('ul').slideToggle('medium');
        });
        $('.collapse').collapse();
    });
</script>

</body>
</html>