<div id="listDiv_current">

    <form id="list_form_current" method="post" action="">
        <table id="dtable" width="100%" border="0" cellpadding="0" cellspacing="0" class="list-bookings"
               style="font-size: 10pt;">
            <thead>
            <td class="booking-list-header" style="white-space:nowrap;">Name.</td>
            <td class="booking-list-header" style="white-space:nowrap;">Role.</td>
            <td class="booking-list-header" style="white-space:nowrap;">Company.</td>
            <td class="booking-list-header" style="white-space:nowrap;">Status.</td>
            <td class="booking-list-header mobile-hide-cell-850">Created By</td>
            <td class="booking-list-header mobile-hide-cell-850">Created At</td>
            <td class="booking-list-header mobile-hide-cell-850">Last Updated By</td>
            <td class="booking-list-header mobile-hide-cell-850">Last Updated At</td>
            <td class="booking-list-header mobile-hide-cell-550">Manage</td>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="booking-list-cell"><span style="color:#0cc2aa">{{ user }}</span></td>
                    <td class="booking-list-cell">

                        {% for role in user.roles %}
                            {% if(role =="ROLE_ADMINISTRATOR") %}
                                <a href="#" id="member" data-type="select" data-pk="{{ user.id }}"
                                   data-url="{{ path('update-member') }}" data-title="Select Role">
                                    Administrator
                                </a>
                            {% elseif(role =="ROLE_DATA_CAPTURE") %}
                                <a href="#" id="member" data-type="select" data-pk="{{ user.id }}"
                                   data-url="{{ path('update-member') }}" data-title="Select Role">

                                    Data Capture
                                </a>
                            {% elseif(role =="ROLE_MANAGER") %}
                                <a href="#" id="member" data-type="select" data-pk="{{ user.id }}"
                                   data-url="{{ path('update-member') }}" data-title="Select Role">

                                    Manager
                                </a>
                            {% elseif(role =="ROLE_PARTNER") %}
                                Partner
                            {% elseif(role =="ROLE_CEO") %}
                                CEO
                            {% elseif(role =="ROLE_USER") %}
                                Partner User
                            {% elseif(role =="ROLE_ADMIN") %}
                                Pending Administrator
                            {% endif %}
                        {% endfor %}


                    </td>
                    <td class="booking-list-cell">{{ user.partner }}</td>
                    <td class="booking-list-cell">
                        {% if user.isActive %}
                            Active
                        {% else %}
                            Inactive
                        {% endif %}
                    </td>
                    <td class="booking-list-cell">{{ user.accountCreatedBy }}</td>
                    <td class="booking-list-cell">{{ user.accountCreatedAt | date("F jS \\a\\t g:ia") }}</td>
                    <td class="booking-list-cell">{{ user.updatedBy }}</td>
                    <td class="booking-list-cell">{{ user.updatedAt | date("F jS \\a\\t g:ia") }}</td>

                    <td class="booking-list-cell">
                        {% if user.isActive %}
                            <a id="js-deactivate-account" href="#"
                               data-url="{{ path('deactivate-account',{'id': user.id }) }}"
                               class="btn btn-xs white btn-icon"><i id="deactivate" title="De-activate Account"
                                                                    class="fa fa-times-rectangle"></i></a>
                        {% else %}
                            <a id="js-activate-account" href="#"
                               data-url="{{ path('activate-account',{'id': user.id }) }}"
                               class="btn btn-xs white btn-icon"><i id="activate" title="Activate Account"
                                                                    class="fa fa-lock"></i></a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr style="background: #ffffff">
                    <td class="booking-list-cell" colspan="11" style="padding: 10px 10px 12px 10px;">
                        No users were found. <br>(Can't find an user? Check above to see which list your are looking
                        through)
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>


</div>
