<!DOCTYPE html>
<html class='login-page' lang='en'>
<head>
    <link href='//cdn.onelogin.com/typography-fonts/fonts.css' media='all' rel='stylesheet' type='text/css'>
    <link href="{{ asset('lti/css/login.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('lti/css/login-a.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('lti/css/login-style.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="{{ asset('lti/admin_panel/js/jquery-1.10.2.min.js') }}"></script>
    <title>Reset Password</title>
    <style>
        .required:after {
            content:" *";
            color:red;
        }
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }
        .login-links{
            margin-top: 15px;
        }
        button{
            border-radius: 3px;
            border: 0;
            color: white;
            display: inline-block;
            padding: .809em 1.618em;
            text-align: center;
            text-transform: uppercase;
            background-color: #402269;
        }
    </style>
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function () {
            $('#request').click(function () {
                // bind to the form's submit event
                $('#requestForm').submit(function (e) {
                    var ajaxRequest;

                    //Prevent Normal Submit
                    e.preventDefault();

                    $(".message").fadeOut("slow");

                    $("#requestForm").fadeOut("slow");
                    $('#saving').fadeIn("slow");
                    $('.sppb-addon-content').fadeOut("slow");

                    var form = document.getElementById("requestForm");
                    var elements = form.elements;
                    for (var i = 0, len = elements.length; i < len; ++i) {
                        elements[i].readOnly = true;
                    }
                    // get form values
                    var values = $(this).serialize();

                    $.ajax({
                        url: $(this).data('url'),
                        data: new FormData(this),
                        contentType: false,
                        cache:false,
                        processData: false,
                        method: 'POST'
                    }).done(function () {
                        $('#saving').fadeOut("slow");
                        $('#message').fadeIn("slow");


                    }).fail(function () {
                        $('#saving').fadeOut("slow");

                        $("#error").fadeIn("slow");

                        $("#requestForm").fadeIn("slow");

                    })


                });

            })
        });


    </script>
</head>
<body id='login-page'>
<div id='login-shade'></div>
<div id='body-main'>
    <div id='envelope'>
        <div id='wrapper-flex'></div>
        <div data-action='new' data-controller='sessions' id='login-box' style="margin: 0 auto">
            <div class='logo-area'>
                <div class='logo' id='login-logo'></div>
            </div>
            <div id='onelogin_login'>
                <div class='errors' id='errors'>
                </div>
                <div id="message">
                    <div class="alert alert-success" role="alert">
                        <p>You have successfully reset your Password. You can now <a style="color:#fd9614" href="{{ path('security_login') }}">Click here</a> to login.
                    </div>
                </div>

            </div>
        </div>

        <div id='wrapper-flex'></div>
    </div>
</div>

</body>
</html>
