<div class="portal-item col-sm-6">
    <div class="portal-item-border">

        <img style="width:394px;height: 197px" class="max-width" title="Large Local Institutions"
             alt="Large Local Institutions"
             src="{{ asset('images/local-institutions.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">Large Local Institutions</h2>
            <p>Leading financial solutions to meet an array of protection, savings, investment and
                retirement benefit needs.</p>
        </div>

        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'large-local-institutions'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>


    </div>
    <div class="drop-shadow"></div>

</div>
<div class="portal-item col-sm-6">
    <div class="portal-item-border border-none">

        <img style="width:394px;height: 197px" class="max-width" title="Small & Medium Enterprises"
             alt="Small & Medium Enterprises"
             src="{{ asset('images/sme.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">Small & Medium Enterprises</h2>
            <p>We offer Group Life Assurance, Investment &amp; Retirement Benefits solutions.</p>
        </div>

        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'small-medium-enterprises'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>

    </div>
    <div class="drop-shadow"></div>

</div>
<div class="portal-item col-sm-6">
    <div class="portal-item-border">

        <img style="width:394px;height: 197px" class="max-width" title="High Income Individuals"
             alt="High Income Individuals"
             src="{{ asset('images/high-income.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">High Income Individuals</h2>
            <p>A leading, global financial institution servicing Kenyan investors for over 80
                years.</p>
        </div>

        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'high-income-individuals'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>

    </div>
    <div class="drop-shadow"></div>

</div>
<div class="portal-item col-sm-6">
    <div class="portal-item-border border-none">

        <img style="width:394px;height: 197px" class="max-width" title="Foreign Institutions"
             alt="Foreign Institutions"
             src="{{ asset('images/foreign-institutions.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">Foreign Insitutions</h2>
            <p>Work for a leading financial services company. See what Old Mutual Kenya offers.</p>
        </div>

        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'foreign-institutions'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>

    </div>
    <div class="drop-shadow"></div>

</div>
<div class="portal-item col-sm-6">
    <div class="portal-item-border border-none">

        <img style="width:394px;height: 197px" class="max-width" title="High Networth Individuals"
             alt="High Networth Individuals"
             src="{{ asset('images/high-networth.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">High Networth Individuals</h2>
            <p>Work for a leading financial services company. See what Old Mutual Kenya offers.</p>
        </div>

        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'high-networth-individuals'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>


    </div>
    <div class="drop-shadow"></div>

</div>
<div class="portal-item col-sm-6">
    <div class="portal-item-border border-none">

        <img style="width:394px;height: 197px" class="max-width" title="Moderate Income Individuals"
             alt="Moderate Income Individuals"
             src="{{ asset('images/moderate-income.jpg') }}">


        <div class="description" style="min-height: 0px; max-height: none; height: 71px;">
            <h2 class="portal-title-size">Moderate Income Individuals</h2>
            <p>Work for a leading financial services company. See what Old Mutual Kenya offers.</p>
        </div>
        <a href="{{ path('scheme', {'serviceSlug': service.slug, 'slug': 'moderate-income-individuals'}) }}"
           class="btn btn-md pull-right green-theme-button">VIEW</a>


    </div>
    <div class="drop-shadow"></div>

</div>
