<div id="form-data" class="form form-wrap" style="">
    {{ form_start(form,{'attr':{'id':'newForm'}}) }}
    <h2>Basic Details</h2>

    <div style="height: 90px">
        <div class="column">
            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.service, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>
        </div>
        <div class="column">
            <div class="form-row">
                <div class="form-widget">
                    {{ form_row(form.scheme, { 'attr': {'id': 'login_form_credentials_username'} }) }}
                </div>
                <div class="form-errors"></div>
            </div>

        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="form-widget">
                {{ form_row(form.content, { 'attr': {'id': 'login_form_credentials_username','class':'tinymce'} }) }}
            </div>
            <div class="form-errors"></div>
        </div>
    </div>
    <div class="button-row">
        <input id="login_form__submit" type="submit" value="Save and Close">
        <input id="new" type="submit" value="Save and New">

        <a href="{{ path('new-models') }}" id="restore">
            Cancel </a>
    </div>
    {{ form_end(form) }}
</div>
