{% extends 'admin-base.htm.twig' %}
{% block quick %}active{% endblock %}
{% block body %}
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input[type=checkbox]:checked ~ .slider {
            background-color: #2196F3;
        }

        input:focus ~ .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked ~ .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

    <div id="page-wrapper">
        <div class="graphs">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{ path('dashboard') }}">Dashboard</a></li>

                    <li>/</li>
                    <li><a href="#">Content</a></li>
                    <li>/</li>
                    <li><a href="{{ path('articles') }}">Manage Categories</a></li>
                    <li>/</li>
                    <li>Edit Category</li>
                </ul>
            </div>
            <h3>Edit Category</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <div id="message" style="display: none">
                        <div class="alert alert-success" role="alert">
                            Category Updated!
                        </div>
                    </div>
                    <div id="saving" style="display: none">
                        <div class="alert alert-warning" role="alert">
                            <span class="fa fa-spin fa-spinner"></span> Saving Category...
                        </div>
                    </div>
                    <div id="error" style="display: none">
                    <div class="alert alert-danger" role="alert">
                        Category not Saved.
                    </div>
                    </div>
                    {{ form_start(categoryForm,{'attr':{'id':'newForm'}}) }}
                   <div class="col-md-12" style="padding: 10px;padding-bottom: 18px">
                    <button type="submit"   style="width: 145px" class="button button-primary" style="">
                        <span class="icon"><span class="fa fa-save"></span> </span>
                        Update</button>

                   </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            {{ form_row(categoryForm.categoryName,{'attr':{'class':'form-control1'}}) }}
                            <br/>
                            <div class="form-group">
                                <label>Active</label>
                            </div>
                            <div class="form-group switch">
                                <label class="switch">
                                    <input id="app_bundle_category_form_isActive" name="app_bundle_category_form_isActive" {% if category.isActive %}value="1" checked="checked"{% else %}value="2"{% endif %} type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-12">
                    <button type="submit"   style="width: 145px " class="button button-primary">
                        <span class="icon"><span class="fa fa-save"></span> </span>
                        Update</button>
                    </div>
                    {{ form_end(categoryForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}