<ul class="main-ul menu_main">
    <li>
        <a href="{{ path('admin-home') }}" class="menu menu_main menu_item_homepage {% if dashboard is defined %}{{ dashboard }}{% endif %}">
            <span class="menu_text">Dashboard</span>
        </a>
    </li>
    {% if is_granted('ROLE_CAN_UPDATE') %}
    <li>
        <a href="{{ path('admin-services') }}"
           class="menu menu_main menu_item_services {% if services is defined %}{{ services }}{% endif %}">
            <span class="menu_text">Services</span>
        </a>
    </li>

    <li>
        <a href="{{ path('clientList') }}"
           class="menu menu_main menu_item_schemes {% if schemesx is defined %}{{ schemesx }}{% endif %}">
            <span class="menu_text">Clients</span>
        </a>
    </li>
    <li>
        <a href="{{ path('pages') }}"
           class="menu menu_main menu_item_pages {% if pages is defined %}{{ pages }}{% endif %}">
            <span class="menu_text">Pages</span>
        </a>
    </li>
    <li>
        <a href="{{ path('sub-pages') }}"
           class="menu menu_main menu_item_subpages {% if subpages is defined %}{{ subpages }}{% endif %}">
            <span class="menu_text">Sub Pages</span>
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_RESEARCH') %}
        <li>
            <a href="{{ path('research-categories') }}"
               class="menu menu_main menu_item_research {% if categoriesx is defined %}{{ categoriesx }}{% endif %}">
                <span class="menu_text">Categories</span>
            </a>
        </li>
        <li>
        <a href="{{ path('research-pages') }}"
           class="menu menu_main menu_item_research {% if researchx is defined %}{{ researchx }}{% endif %}">
            <span class="menu_text">Reports</span>
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_CORE') %}
    <li>
        <a href="{{ path('new-models') }}"
           class="menu menu_main menu_item_users {% if new is defined %}{{ new }}{% endif %}">
            <span class="menu_text">Administration</span>
        </a>
    </li>
    {% endif %}
</ul>
